.top_container {
    display: flex;
    flex-direction: row;
    /* background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    */
    border: 1px solid black;
}

.left_container {
    flex-grow: 1;
    border: 1px solid black; 
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.phrase{
    align-items: center;
    justify-content: center;
    font-family: "Arial", sans-serif;
    /*align-self: auto;: This is often the easiest and best approach.  It allows the flex item to size itself based on its content along the cross axis.  It will respect min-height, max-height, and height: auto;*/
    
    min-height: 50px;
    flex: 1;
    /* border: 1px solid black;  */
    display: flex;
}
#calendar{
    min-height: 140px;
    flex: 2;
}
.papers{
    min-height: 50px;
    flex: 3;
}
.cuestionario{
    min-height: 50px;
    flex: 1;
}

.right_container {
    flex-grow: 3;
    border: 1px solid black; 
    min-width: 300px;
    display: flex;
    flex-direction: column;
}
.clima{
    min-height: 100px;
    flex-grow: 1;
}
.pagina_libro{
    min-height: 100px;
}
.idioma1{
    min-height: 100px;
    flex-grow: 1;
    border: 1px solid black; 
}
iframe {
    width: 100%;
    height: 100%;
}
.idioma2{
    min-height: 100px;
    flex-grow: 1;
    border: 1px solid black; 
}
.receta{
    min-height: 100px;
}